.aktyon{
    width: 60px;
    height: 30px;
    background-color:#81d4fa;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px;
}
.delit{ 
    width: 60px;
    height: 30px;
    background-color:#e57373;
    text-align: center;
    border-radius: 5px;
    padding-top: 2px;
    margin-left: 10px;
}
.delit:hover{
    background-color:rgb(179, 67, 67);
}
.aktyon:hover{
    background-color:#337fb9;
}
.pikyur{
    width: 20px;
    height: 20px;
}
.free{
    float: right;
    background-color: rgb(243, 243, 71);
    padding: 8px 18px 8px 18px;
    color: #1b1b1b;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 0 15px 0px #6362624f;
    text-transform: uppercase;
}
.addexpense{
    float: right;
    background-color: rgb(243, 243, 71);
    padding: 8px 18px 8px 18px;
    color: #1b1b1b;
    border-radius: 3px;
    font-weight: bold;
    box-shadow: 0 0 15px 0px #6362624f;
    text-transform: uppercase;
}
.addexpense:hover{
    color: #1b1b1b;
}
.span{
    color: red;
}
@media(max-width: 600px){
    .delit{
        width: 50px;
        height: 25px;
    }
    .aktyon{
        width: 50px;
        height: 25px;
    }
}