
.teybol{
    width: 100%;
}
.datee{
    font-size: 25px;
}
.jnr{
    color: #dd0000;
}
.img{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    float: right;
    margin-top: -180px;
}
.lbl{
    font-size: 25px;
}
.tbody1{
    margin-top: 50px;
}
.h5{
    font-size: 50px;
}
.address{
    text-align: center;
    color: black;
    font-size: 20px;
    margin-bottom: 80px;
}
.h4{
    margin-top: -50px;
    text-align: center;
    text-transform: capitalize;
}
.teybol th{
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid rgb(167, 167, 167);
}

.teybol td{
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid rgb(167, 167, 167);
}
