.teybol{
    width: 100%;
}

.teybol th{
    position: sticky;
    background-color: #dcedc8;
    color: #212121;
    font-size: 14px;
    top: 0;
    text-transform: uppercase;
    height: 60px;
    padding-left: 10px;
    font-weight: bold;
}
.teybol td{
    font-size: 14px;
    border-bottom:1px solid #bebdbd ;
    color: #1b1b1b;
    text-transform: capitalize;
    height: 60px;
    padding-left: 10px;
}
.tbody1{
    height: 55vh;
    margin-top: 10px;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0 0 15px 0px #6362624f;
    
}
.btn{
    margin-top: 15px;
}
.h4{
    display: none;
}
.address{
    display: none;
}
.datee{
    display: none;
}
.lbl{
    display: none;
}
h5{
    display: none;
}

.datebox{
    width: 100%;
    height: 40px;
    color: #666666;
    border: 1px solid #a6a6a6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.filter{
    height: 40px;
    width: 120px;
    border: none;
    background-color:rgb(241, 55, 55);
    box-shadow: 0 0 15px 0px #6362624f;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    margin-top: 32px;
    color: #1b1b1b;
}

.img{
    display: none;
}
@media(max-width: 500px){
    .teybol{
        width: 1000px;
    }
}