.tprofit{
    height: 32vh;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 15px 0px #6362624f;
}
.tbody1{
    color: black;
    height: 65vh;
}
.teybol{
    width: 100%;
}
.teybol td,.teybol th{
    padding:12px 15px;
}
.teybol td{
    font-size: 13px;
    border-bottom: 1px solid rgb(211, 210, 210);
}
.teybol th{
    position: sticky;
    background-color: #dcedc8;
    font-size: 13px;
    top: 0;
    padding: 10px;
    text-transform: uppercase;
}
.bg{
    background-color: red;
    border-radius: 0 0 170px 0;
    height: 100%;
}
.bg1{
    background-color: rgb(74, 236, 59);
    border-radius: 170px 0 0 0;
    height: 100%;
}
.tsold{
    height: 32vh;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 15px 0px #6362624f;
}
.tlbl{
    font-size: 120%;
    margin-top: 40px;
    font-weight: bold;
    
}
.tval{
    font-size: 180%;
    margin-top: 20px;
    color: black;
    font-weight: bold;
}
.tval1{
    font-size: 180%;
    margin-top: 20px;
    color:#dd0000;
    font-size: 120%;
    font-weight: bold;
}
.bg_modal{
    width: 75%;
    height: 90%;
    position: absolute;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 1.5;
}
.cus{
    font-size: 90%;
    margin-top: 15px;
}
.modalhayt_Table{
    height: 30vh;
    border-radius: 5px;
    overflow: auto;
    
}
.teyboy{
    width: 100%;
}
.teyboy th{
    position: sticky;
    background-color: #dcedc8;
    font-size: 13px;
    top: 0;
    padding: 10px;
    text-transform: uppercase;
    color: #1b1b1b;
}
.margin{
    margin-bottom: 20px;
}
.mins{
    color: #1b1b1b;
    font-weight: bold;
}
.lins{
    color: #1b1b1b;
}
.teyboy td{
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    color: #1b1b1b;
}
.teybo{
    width: 94%;
    margin-left: 3%;
}
.teybo th{
    text-transform: uppercase;
    padding-left: 15px;
    color: #1b1b1b;
    background-color: #dcedc8;
    padding-top: 5px ;
    padding-bottom: 5px ;
    position: sticky;
}
.teybo td{
    padding-left: 15px;
    color: #1b1b1b;
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.modal_content{
    width: 90%;
    height: 80%;
    background-color:#000000;
    box-shadow: 0 0 15px 0px #6362624f;
    border-radius: 10px 10px 10px 10px;
}
.modalrow{
    margin-top: 60px;
    color: black;
}
.close{
    margin-right: 20px;
    margin-top: 10px;
    transform: rotate(45deg);
}
.open{
    cursor: pointer;
    
}
.datebox{
    width: 100%;
    height: 40px;
    color: #666666;
    border: 1px solid #a6a6a6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.filter{
    height: 40px;
    width: 120px;
    border: none;
    background-color:rgb(241, 55, 55);
    box-shadow: 0 0 15px 0px #6362624f;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    margin-top: 32px;
    color: #1b1b1b;
}
.notfound{
    margin-left: 20px;
    font-size: 100%;
    font-weight: bold;
    color: #dd0000;
}
.background{
    background-color: #a6a6a6;
}
.tbody{
    box-shadow: 0 0 15px 0px #6362624f;
    border-radius: 0 0 10px;
}
.modal1{
    background-color: red;
}
.hiden{
    display: none;
}
.addsupplier{
    padding: 8px;
    background-color: rgb(67, 236, 89);
    border-radius: 5px;
    color: rgb(83, 83, 83);
    font-weight: bold;
}

.back-design{
    background-color:rgb(87, 196, 102) ;
    padding: 13px;
    border-radius: 10px 10px 700px 10px;

}
.inner{
    padding: 10px;
}
.inn{
    margin-bottom: 15px;
    color: #1b1b1b;
}
.inns{
    font-weight: 500;
    font-size: 17px;
    color: #1b1b1b;
}
.addsupplier:hover{
    background-color:rgb(240, 240, 99) ;
    color: #1b1b1b;
}
.addsupplier{
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(236, 236, 122);
    box-shadow: 0 0 15px 0px #6362624f;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    padding-left: 15px;
    color: #1b1b1b;
}
.rev{
    color: #1b1b1b;
    font-size: 15px;
    margin-bottom: 30px;
}
.noaction{
    color: rgb(226, 28, 28);
    font-weight: bold;
}

.rf{
    border-right:1px solid rgb(182, 180, 180) ;
}

.imggg{
    width: 40px;
    height: 40px;
    margin-top: -8px;
    float: right;
    margin-right: 20px;
}
.itemnem{
    text-transform: capitalize;
}
.trans_type{
    width: 50%;
    border: none;
    height: 40px;
    float: right;
    padding-left: 10px;
    background-color: rgb(167, 245, 167);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 15px 0 rgba(219, 219, 219, 0.795);
}
.ewan{
    margin-bottom: 15px;
}
.tran_btn{
    border: none;
    height: 35px;
    width: 100%;
    background-color:rgb(241, 55, 55);
    box-shadow: 0 0 15px 0px #6362624f;
    border-radius: 5px;
   
}
.tran_no{
    box-shadow: 0 0 15px 0px #6362624f;
    width: 100%;
    padding-left: 10px;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
    background-color: white;
}
@media(max-width: 1000px){
    .tran_no{
        width: 40%;
    }
    .tran_btn{
        width: 20%;
         margin-top: 15px;
         margin-bottom: 10px;
     }
     .trans_type{
         width: 40%;
         margin-top: 15px;
         margin-bottom: 10px;
    
     }
}
@media(max-width: 600px){
    .tran_btn{
       margin-top: 10px;
    }
    .trans_type{
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
     
    }
    .rf{
        border-right:none ;
    }
    .notfound{
        margin-left: 20px;
        font-size: 100%;
        font-weight: bold;
        color: #dd0000;
    }
    .filter{
        height: 30px;
        width: 70px;
        float: right;
        font-size: 90%;
        border-radius: 3px;
        margin-top: 10px;
        margin-right: 20px;
        text-align: center;
       
    }
    .addsupplier{
        padding: 8px;
        background-color: rgb(67, 236, 89);
        border-radius: 5px;
        color: rgb(83, 83, 83);
        font-weight: bold;
    }
    .datebox{
        width: 100%;
        margin-bottom: 10px;
    }
    .tprofit{
        height: 15vh;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        text-align: left;
      
    }
    .tlbl{
        font-size: 120%;
        margin-top: 5px;
        font-weight: bold;
        margin-left: 20px;
    }
    .tval{
        font-size: 100%;
        margin-top: 5px;
        color: black;
        text-align: right;
        margin-right: 20px;
    }
    .tval1{
        font-size: 100%;
        margin-top: 5px;
        color:#dd0000;
        text-align: right;
        margin-right: 20px;
    }
    .tsold{
        height: 15vh;
        width: 100%;
        top: 0;
        margin-bottom: 10px;
        text-align: left;
    }
    .bottom{
        margin-bottom: 10px;
    }
    .teybol{
        width: 900px;
    }
    .modal_content{
        width: 100%;
        height: 80%;

    
    }
    .bg_modal{
        width: 90%;
        height: 150vh;
        top: 0;
    }
}