.neym{
    color:#1b1b1b;
}
.addsupplier{
    height: 40px;
    width: 120px;
    border: none;
    background-color: rgb(236, 236, 122);
    box-shadow: 0 0 15px 0px #6362624f;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    text-align: center;
    color: #1b1b1b;
    padding-top: 8px;
}
.datebox{
    width: 100%;
    height: 40px;
    color: #666666;
    border: 1px solid #a6a6a6;
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}
.filter{
    height: 40px;
    width: 120px;
    border: none;
    background-color:rgb(241, 55, 55);
    box-shadow: 0 0 15px 0px #6362624f;
    font-weight: bold;
    border-radius: 5px;
    float: right;
    margin-top: 32px;
    color: #1b1b1b;
}
.tbody1{
    height: 70vh;
}
@media(max-width: 600px){
    .tbody1{
        height: 100vh;
    }
    .neym{
        margin-bottom: 10px;
    }
    .page-title{
        font-size: 20px;
    }
}   