.section-podcast {
  width: 100%;
  background: #eff8fe; }
  .section-podcast s
.section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 55px;
    padding: 55px 30px 0px 30px;
    max-width: 1210px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .section-podcast .section-block {
    width: 100%; }
  .section-podcast .section-header {
    padding-bottom: 40px;
    margin: 0 auto; }
    .section-podcast .section-header img {
      margin: 0 auto; }
  .section-podcast .column-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .section-podcast .column-wrapper {
        display: block;
        margin: 0 auto; } }
  .section-podcast .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 768px) {
      .section-podcast .col {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    .section-podcast .col:first-child {
      width: 43%;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media only screen and (max-width: 768px) {
        .section-podcast .col:first-child {
          margin: 0 auto;
          width: 100%;
          margin-bottom: 20px;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
    .section-podcast .col:last-child {
      width: 57%;
      margin-left: 40px;
      text-align: left; }
      @media only screen and (max-width: 768px) {
        .section-podcast .col:last-child {
          display: block;
          margin: 0 auto;
          width: 100%; } }
  .section-podcast .col-block {
    margin-bottom: 10px; }
    .section-podcast .col-block:last-of-type {
      margin-bottom: 0; }
  .section-podcast .col-title {
    margin-bottom: 20px; }
    .section-podcast .col-title p {
      font-size: 30px;
      letter-spacing: 0px;
      line-height: 18px;
      color: #707071;
      font-family: 'Overpass';
      font-weight: 600; }
  .section-podcast .block-title {
    margin-bottom: 5px; }
    .section-podcast .block-title p {
      font-size: 16px;
      letter-spacing: 0px;
      line-height: 18px;
      color: #262626;
      font-family: 'Overpass';
      font-weight: 600; }
  .section-podcast .block-subtitle {
    margin-bottom: 5px; }
    .section-podcast .block-subtitle p {
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 18px;
      color: #707071;
      font-family: 'Overpass';
      font-weight: 300; }
  @media only screen and (max-width: 768px) {
    .section-podcast .podcast-img {
      width: 100%; } }
  .section-podcast .podcast-img img {
    float: right;
    width: 100%; }
