.two-column-section {
  background: #ffffff;
  position: relative;
  z-index: 10; }
  .two-column-section .two-column-wrapper {
    max-width: 1147px;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .two-column-section .col-separators {
    height: 10px; }
    .two-column-section .col-separators:nth-child(odd) {
      background-color: #6fbeb8; }
    .two-column-section .col-separators:nth-child(even) {
      background-color: #1e99d4; }
  .two-column-section .item-col {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
    .two-column-section .item-col:nth-child(odd) {
      padding: 75px 50px 50px 0; }
      .two-column-section .item-col:nth-child(odd):before {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 1000%;
        -webkit-box-shadow: 7px 0px 22px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 7px 0px 22px 0px rgba(0, 0, 0, 0.1);
        opacity: 0; }
      .two-column-section .item-col:nth-child(odd):hover:before {
        opacity: 1; }
    .two-column-section .item-col:nth-child(even) {
      padding: 75px 0 50px 50px; }
      .two-column-section .item-col:nth-child(even):before {
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 1000%;
        -webkit-box-shadow: -7px 0px 22px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -7px 0px 22px 0px rgba(0, 0, 0, 0.1);
        opacity: 0; }
      .two-column-section .item-col:nth-child(even):hover:before {
        opacity: 1; }
    .two-column-section .item-col div.col-separators {
      display: none; }
    .two-column-section .item-col h2 {
      margin-bottom: 12px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600; }
    .two-column-section .item-col p.lead {
      font-size: 15px;
      font-weight: 400;
      line-height: 18px; }
    .two-column-section .item-col p {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px; }
    .two-column-section .item-col div:first-child {
      padding: 0; }
    .two-column-section .item-col div:last-child {
      padding-left: 28px; }
    .two-column-section .item-col a.btn {
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      color: #ffffff;
      margin-top: 35px;
      text-transform: uppercase;
      /* transition: 0.3s;
            &:hover {
                opacity: 0.8;                
            } */ }
    @media only screen and (max-width: 991px) {
      .two-column-section .item-col .image-wrapper img {
        margin: 0 auto; }
      .two-column-section .item-col div.col-separators {
        display: block; }
      .two-column-section .item-col:nth-child(odd) div.col-separators {
        background-color: #6fbeb8; }
      .two-column-section .item-col:nth-child(even) div.col-separators {
        background-color: #1e99d4; }
      .two-column-section .item-col:nth-child(odd), .two-column-section .item-col:nth-child(even) {
        padding: 20px; }
      .two-column-section .item-col div {
        padding: 30px; } }
