// Component
select::-ms-expand {
    display: none;
}

.select {
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;

	@include media--over--md {
		margin-right: 20px;
		text-align: left;
		width: inherit;
	}

	&--label {
		color: $blue--dark;
		display: block;
		margin-bottom: 5px;
	}

	&--item-wrapper {
		background: $blue--dark;
		overflow: hidden;
		padding: 5px 0;
		position: relative;

		&:before {
			color: $white;
			content: "\25BE";
			display: block;
			position: absolute;
			right: 10px;
			top: 20%;
			z-index: 2;
		}
	}

	&--item {
		-moz-appearance:none;
		-webkit-appearance: none;
		appearance: none;
		background: transparent;
		border: 0;
		color: $white;
		font-family: 'Telstra Akkurat';
		padding: 10px 50px 10px 10px;
		position: relative;
		text-transform: capitalize;
		z-index: 3;
		width: 280px;
		font-size: 16px;
		@include media--over--md {
			width: inherit;
			font-size: 1.3rem;
		}

		* {
			color: $blue--dark;	
		}
	}
}

.btn {
	background: $blue--dark;
	border: 1px solid $blue--dark;
	color: $white;
	font-size: 1.4rem;
	margin-right: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	text-decoration: none;
	transition: all $base-movement-transition;;
	display: block;
	@include media--over--sm {
		display: inline-block;	
		margin-bottom: 0;
		padding: 5px 10px;
	}


	&:hover {
		background: $white;
		color: $blue--dark;
	}

	&[class^="icon-"]:before, &[class*=" icon-"]:before {
		margin-left: 0;
		margin-right: 10px;
	}
}

.btn-row {
	margin-top: 20px;
}

